@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    font-family: "Kalam", cursive;
}

body {
  background-color: #ecdcb3;
}